body {
    text-align: center;
}

h1 {
    color: cyan;
}

img {
    width: 300px;
}

.image-section {
    display: flex;
    justify-content: center;
}

div {
    margin-top: 15px;
}

.section-style {
    margin-left: 25px;
    margin-right: 25px;
    background-color:cyan;
}
